<div class="center jumbotron">
  <h1 style="color:#ffffff">PSYCHOLOGICAL SAFETY</h1>
  <div id="center"><%= link_to "Sign up now!", nodes_path, class: "btn btn-primary btn-xlarge", id:"center" %>></div>
</div>