<table>
  <tr>
    <th>Select:</th>
  </tr>
  <% @nodes.each do |f| %>
    <% if f.position != "1" %>
      <% if f.parent == "1" %>
        <tr>
          <td><%= link_to "#{f.title}", {:controller => "displays", :action => "show", :id => f } %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>